# Flutter / Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
.idea/
.vscode/
*.iml

# Android/Gradle
.gradle/
local.properties
**/build/

# iOS
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
*.xcworkspace
*.xcuserstate

# macOS
.DS_Store

# Keystores and secrets (مهم: اینارو هیچ‌وقت آپلود نکن)
android/app/*.jks
android/key.properties
*.keystore
*.pem
*.p12